{% extends "base.html" %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/projects.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block search %}{% endblock %}`
{% block sidebar %}{% endblock %}

{% block content %}
    {% block breadcrumb %}{% endblock %}
    <div class="post">
        {% block content_header %}
            <h1 class="title">{% block content_header_title %}Projects{% endblock %}</h1>
            <p class="meta"><br/></p>
            {% block summary %}{% endblock %}
        {% endblock %}
        {% block main_content %}
        {% load pagination_tags %}
        <div class="entry">
            {% for project in project_list %}
               {% include "projects/project_entry.html" %}
            {% endfor %}
        </div>
        {% endblock main_content %}
        {% block content_footer %}{% endblock %}
    </div>
    {% if is_paginated %}{% paginate %}{% endif %}
{% endblock %}

