{% extends "projects/base.html" %}
{% block title %}Project: {{ project.title }} | {{ block.super }}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}css/tabs.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #tabsF {
            height: 40px;
            background: none;
            float: none;
        }
        #tabsF ul {
            padding-left: 10px;
        }
        #tabsF a {
            border-bottom: none;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/prototype.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/lightbox.js"></script>
<script type="text/javascript">
LightboxOptions.fileLoadingImage = "{{ STATIC_URL }}lightbox/images/loading.gif";
LightboxOptions.fileBottomNavCloseImage = "{{ STATIC_URL }}lightbox/images/closelabel.gif";
</script>
{% endblock %}

{% block breadcrumb %}
    <div id="breadcrumb">
        <ul>
            <li><a href="{% url home_view %}">Home</a></li>
            <li><a href="{% url projects_index %}">Projects</a></li>
            <li>{{ project.title }}</li>
        </ul>
    </div>
{% endblock %}

{% block content_header_title %}{{ project.title }}{% endblock %}
{% block main_content %}
    {% if perms.projects.can_add_project %}
    <div id="edit_link">
        <div id="tabsF">
            <ul>
                <li>
                    <a href="{{ project.edit_link }}"><span>Edit</span></a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="entry">
        {% load thumbnail %}
        <div class="project details">
            <div id="preview">
                <a href="{% thumbnail project.picture 1000x1000 %}" rel="lightbox" title="{{ project.summary }}" >
                    <img src="{% thumbnail project.picture 200x200 crop="0,0" %}" alt="{{ project.title }}" />
                    <p>Click to enlarge</p>
                </a>
            </div>
                <div id="base_info">
                    <p class="title">Title: {{ project.title }}</p>
                    <p>Project URL: <a href="{{ project.url }}">{{ project.url }}</a></p>
                    <p>Developed During: {{ project.dev_dates }}</p>
                </div>

        </div>
                <div id="description">
                    <p>Description:</p>
                    {{ project.description|safe }}
                </div>
    </div>
{% endblock main_content %}

