*.pyc
.*.swp
.directory
.DS_Store
build/
dist/
nbproject/
local_settings.py
dev.db
djangobb_index/
static/*
static/media/*
static/media/djangobb_forum/*
static/media/djangobb_forum/attachments/*
static/media/djangobb_forum/avatars/*
static/media/djangobb_forum/forum_logo/*
!static/media/blank.txt
!static/robots.txt
!static/media/
!static/media/djangobb_forum/
!static/media/djangobb_forum/attachments/
!static/media/djangobb_forum/avatars/
!static/media/djangobb_forum/forum_logo/
!static/media/djangobb_forum/attachments/blank.txt
!static/media/djangobb_forum/avatars/blank.txt
!static/media/djangobb_forum/forum_logo/blank.txt
*.*~
