django==1.3
django-pagination
django-taggit
django-taggit-templatetags
BeautifulSoup
django-extensions
django-sphinx
MySQL-python
PIL
Markdown
django-debug-toolbar
django-pingback
django-markitup
django-contact-form
akismet
easy-thumbnails
South

