{% extends "base.html" %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/videos.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
    function list_paginate () {
        $("#content .pagination a").click (function (e) {
            e.preventDefault ();
            $("#content .post div.loading").show ();
            var block = $("div.post .entry");
            block.hide ();
            $.get (this.href, function (data) {
                $("#content .post div.loading").hide ();
                block.replaceWith (data);
                list_paginate ();
            }).error (function () {
                alert ("Could not complete request");
            });
        });
    }
    $(document).ready (list_paginate);
    </script>
{% endblock %}

{% block search %}{% endblock %}`
{% block sidebar %}{% endblock %}

{% block content %}
    {% block breadcrumb %}{% endblock %}
    <div class="post">
        {% block content_header %}
            <h1 class="title">{% block content_header_title %}Videos{% endblock %}</h1>
            <p class="meta"><br/></p>
            {% block summary %}{% endblock %}
        {% endblock %}
        {% block main_content %}
        <div class="loading">
            <img src="{{ STATIC_URL }}images/ajax-loader.gif" alt="loading icon" />
        </div>
        <div id="category_list">
            <h4>Categories</h4>
            <ul>
        {% for category in category_list %}
                <li><a href="{% url videos_category category.slug %}">{{ category.title }}</a></li>
        {% endfor %}
            </ul>
        </div>
        {% include "videos/list_display.html" %}

        {% endblock main_content %}
        {% block content_footer %}{% endblock %}
    </div>
    
{% endblock %}

