{% extends "base.html" %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/videos.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
{% endblock %}

{% block search %}{% endblock %}`
{% block sidebar %}{% endblock %}

{% block content %}
    {% block breadcrumb %}{% endblock %}
    <div class="post">
        {% block content_header %}
            <h1 class="title">{% block content_header_title %}Videos{% endblock %}</h1>
            <p class="meta"><br/></p>
            {% block summary %}{% endblock %}
        {% endblock %}
        {% block main_content %}
        <div class="loading">
            <img src="{{ STATIC_URL }}images/ajax-loader.gif" alt="loading icon" />
        </div>
        {% include "videos/list_display.html" %}
        {% endblock main_content %}
        {% block content_footer %}{% endblock %}
    </div>
    
{% endblock %}

