<div class="video_embed">
    <object data="http://blip.tv/scripts/flash/stratos.swf" width="560" height="450" type="application/x-shockwave-flash">
        <param name="movie" value="http://blip.tv/scripts/flash/stratos.swf" />
	    <param name="allowscriptaccess" value="always"/>
	    <param name="allowfullscreen" value="true"/>
	    <param name="flashvars" value="autostart=true&amp;brandname=Hellfire Commentaries&amp;file={{ alias }}&amp;brandlink=http://www.hellfirecomms.com/" />
    </object>
</div>

