{% load pagination_tags %}
{% load thumbnail %}
<div class="entry">
    <ul id="video_list">
    {% for video in video_list %}
        <li class="video_panel">
            <a href="{{ video.get_absolute_url }}">
                {% thumbnail video.photo 200x110 crop as im %}
                {% if im %}
                    <img src="{{ im.url }}" alt="{{ video.title }}" />
                {% else %}
                    <img src="{{ STATIC_URL }}images/default_video.png" alt="{{ video.title }}" />
                {% endif %}
                <div class="pub_date">
                    <span>{{ video.pub_date|date:"m/d/Y" }}</span>
                </div>
                <div class="summary_info">
                    <h4>{{ video.title }}</h4>
                    <p class="summary">{{ video.summary }}</p>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% if is_paginated %}{% paginate %}{% endif %}
</div>

