#content {
	float: none;
	width: 900px;
	padding: 20px;
}

.post {
	clear: both;
	padding-top: 10px;
}

.post .entry {
	padding-bottom: 0px;
	overflow: hidden;
}

#content #edit_link {
	margin-bottom: 10px;
}

#content .project {
	position: relative;
	float: left;
	margin-right: 30px;
	min-height: 200px;
}

#content .project.details {
	float: none;
	margin-right: 0px;
	min-height: auto;
}

#content .project.details img {
	float: left;
}

#content .project.details #base_info {
	float: left;
	margin-left: 20px;
	width: 500px;
}

#content .project.details #base_info .title {
	font-size: 1.25em;
}

#content .entry #description {
	clear: both;
	margin-top: 20px;
	border-top: 1px solid #DDDDDD;
}

#content .project img {
	width: 200px;
	height: auto;
}

#content .project .summary {
	background: none repeat scroll 0 0 rgba(235, 235, 235, 0.9);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.35) inset, 0 2px 10px rgba(0, 0, 0, 0.3);
	bottom: 0px;
	position: absolute;
	text-align: center;
	width: 200px;
	line-height: 16px;
	color: #000000;
}

#content .project .summary p {
	margin: 0px;
}

#footer {
	clear: both;
}

.pagination {
	clear: both;
}

#breadcrumb {
	height: 16px;
	line-height: 16px;
}

#breadcrumb ul {
	list-style: none;
	padding: 0px 0px 10px 0px;
}

#breadcrumb li {
	float: left;
	margin-right: 10px;
	background: url("/static/images/breadcrumb_arrow.png") no-repeat scroll 0 0 transparent;
	padding-left: 20px;
}
