#content {
	float: none;
	width: 900px;
	padding: 20px;
}

.post {
	clear: both;
	padding-top: 10px;
}

.post .entry {
	padding-bottom: 0px;
	overflow: hidden;
}

#content .post div.loading {
	display: none;
	text-align: center;
	margin: 0px auto;
}

#content #edit_link {
	margin-bottom: 10px;
}

#content .entry ul#video_list {
	list-style: none;
	padding-left: 10px;
}

#content .entry ul#video_list li.video_panel {
	position: relative;
	overflow: hidden;
	padding: 10px 30px 10px 0px;
	border-bottom: 1px solid #787878;
	border-top: 1px solid #A8A8A8;
}

#content .entry ul#video_list li.video_panel:first-child {
	border-top: none;
}

#content .entry ul#video_list li.video_panel:last-child {
	border-bottom: none;
}

#content .video_panel img {
	float: left;
	width: 200px;
	height: auto;
}

#content .video_panel div.pub_date {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	position: absolute;
	bottom: 14px;
	color: #FFFFFF;
	font-size: 0.8em;
	left: 6px;
	padding: 2px 4px;
}

#content .video_panel div.summary_info {
	margin-left: 220px;
}

#content .video_panel h4 {
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
}

#content .video_panel a {
	overflow: hidden;
	display: block;
	border-bottom: none;
}

#content .video_panel p.summary {
	color: #787878;
	margin: 8px 0px;
}

#content #video_detail #video_embed {
	float: left;
	width: 600px;
}

#content #video_detail #video_info {
	float: left;
	width: 200px;
	background: none repeat scroll 0 0 rgba(235, 235, 235, 0.8);
	border-radius: 6px;
	padding: 10px 20px;
}

#content #video_detail #video_info p.posted_by, #content #video_detail #video_info p.pub_date,
#content #video_detail #video_info p.category {
	margin-bottom: 4px;
}

#content #video_detail #video_info p.origin {
	margin-bottom: 14px;
}

#content #video_detail #video_info #description {
	margin: 10px 0px 0px 0px;
	display: none;
}

#content #video_detail #video_info a#description_link {
	display: none;
}

#content #video_detail #video_info #description {
	margin: 10px 0px 0px 0px;
	display: none;
}

#content #video_detail #video_info #description p {
	margin: 0px;
	font-size: 0.8em;
}

#content #video_detail #video_info #description.show {
	display: block;
}

.addthis_toolbox {
	float: left;
	margin-top: 20px;
}

.addthis_toolbox a {
	border: none;
}

#content #video_detail iframe.like_button {
	border: none;
	width: 260px;
	max-height: 80px;
	overflow: hidden;
	margin-top: 20px;
}

#content #category_list {
	float: right;
	width: 200px;
}

#content #video_detail #video_options {
	margin-left: 600px;
}

#at20mc a {
	border: none;
	text-decoration: none;
}

#adjacent_videos {
	overflow: hidden;
	height: 150px;
	margin: 6px 0px 0px 0px;
}

#adjacent_videos a {
	border: none;
	text-decoration: none;
}

#adjacent_videos h4 {
	display: inline-block;
	margin: 0px 0px 12px;
	min-width: 540px;
	padding: 4px 10px;
}

#adjacent_videos div.loading {
	display: none;
}

#adjacent_videos ul {
	padding-left: 0px;
	list-style: none;
}

#adjacent_videos ul li {
	float: left;
	width: 120px;
	margin-right: 30px;
	height: 90px;
}

#adjacent_videos ul li.previous, #adjacent_videos ul li.next {
	height: 50px;
	margin: 30px 0px;
	width: 50px;
}

#adjacent_videos .adjacent_video.active {
	background: none repeat scroll 0 0 #F0F0F0;
	padding: 6px;
	margin-top: -6px;
	border-radius: 6px;
}

#adjacent_videos a.paginate.previous, #adjacent_videos a.paginate.next {
	background: url("../images/previous_arrow.png") repeat scroll 0 0 transparent;
	border: none;
	display: block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

#adjacent_videos a.paginate.next {
	background: url("../images/next_arrow.png");
}


.pagination {
	clear: both;
}

#breadcrumb {
	height: 16px;
	line-height: 16px;
}

#breadcrumb ul {
	list-style: none;
	padding: 0px 0px 10px 0px;
}

#breadcrumb li {
	float: left;
	margin-right: 10px;
	background: url("/static/images/breadcrumb_arrow.png") no-repeat scroll 0 0 transparent;
	padding-left: 20px;
}
