<table border="0" cellpadding="0" cellspacing="0" class="calendar">
				<tr class="monthName"><th colspan="7">{{ first_day|date:"N Y" }}</th></tr>
				<tr class="dayName">{% for header in headers %}<th>{{ header|date:"D" }}</th>{% endfor %}</tr>
				{% for week in calendar %}
				<tr>{% spaceless %}
					{% for day in week %}
						{% ifnotequal day.day.month first_day.month %}
							<td class="otherMonth">&nbsp;</td>
						{% else %}
							{% if day.item %}
								<td class="day"><a href="{% url blog_day_view day.day.year,day.day|date:"m",day.day|date:"d" %}">{{ day.day|date:"j" }}</a></td>
							{% else %}
								<td class="day">{{ day.day|date:"j" }}</td>
							{% endif %}
						{% endifnotequal %}
					{% endfor %}
				</tr>
				{% endspaceless %}{% endfor %}
				</table>
				<br/>
				{% if previous_month %}<div style="float: left;"><a href="{% url blog_month_view previous_month.pub_date.year,previous_month.pub_date|date:"m" %}">&laquo; {{ previous_month.pub_date|date:"N" }}</a></div>{% endif %}
				{% if next_month %}<div style="text-align: right;"><a href="{% url blog_month_view next_month.pub_date.year,next_month.pub_date|date:"m" %}"> {{ next_month.pub_date|date:"N" }} &raquo;</a></div>{% endif %}
