{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans "Ryochan's Asylum site admin" %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url home_view %}">{% trans "Ryochan's Asylum administration" %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery_ui/css/ui-lightness/jquery-ui-1.8.14.custom.css" type="text/css" media="screen">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery_ui/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery_ui/js/jquery-ui-1.8.14.custom.min.js"></script>
{% endblock %}
