{% extends "base.html" %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/contact_form.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/calendar.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Contact | {{ block.super }}{% endblock %}
{% block search %}{% endblock %}

{% block content %}
    <div class="post">
        <h1 class="title">Contact</h1>
        <p class="meta"><br/></p>
        <div class="entry">
            <form method="POST" action="">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}

