{% extends "blog/base.html" %}

{% block title %}{{ day|date:"F d Y" }} | {{ block.super }}{% endblock %}
{% block heading %}<h1><div align="center">Archives: {{ day|date:"F d Y" }}</div></h1><br/><br/>{% endblock %}

{% block content_footer %}
<br/>
    {% if previous_day %}<div style="float: left;"><a href="{% url blog_day_view previous_day.pub_date.year,previous_day.pub_date|date:"m",previous_day.pub_date.day %}">&laquo; {{ previous_day.pub_date|date:"N j, Y" }}</a></div>{% endif %}
    {% if next_day %}<div style="text-align: right;"><a href="{% url blog_day_view next_day.pub_date.year,next_day.pub_date|date:"m",next_day.pub_date.day %}">{{ next_day.pub_date|date:"N j, Y" }} &raquo;</a></div>{% endif %}
{% endblock %}

{% block calendar %}
{% load blog_tags %}
                <li>
					<h2>Calendar</h2>
					<ul>
                        {% month_calendar day.year day.month %}				    
					</ul>
				</li>
{% endblock %}
