{% extends "blog/base.html" %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block content %}
{% include "blog/post_entry.html" %}

{% load blog_tags %}
{% get_post_position post %}
{% if post_previous %}<div style="float: left;"><a href="{{ post_previous.get_absolute_url }}">&laquo; {{ post_previous.title }}</a></div>{% endif %}
{% if post_next %}<div style="text-align: right;"><a href="{{ post_next.get_absolute_url }}">{{ post_next.title }} &raquo;</a></div>{% endif %}
<br/><br/>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/ryochansasylum/embed.js"></script><noscript><p><a href="http://ryochansasylum.disqus.com/?url=ref">View the discussion thread.</a></p></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% comment %}
    {% load markup %}
    {% load comments %}
    <a name="comments"></a>
    {% get_comment_list for post as comment_list %}
    {% for comment in comment_list %}
		    <div style="background: #F4FAFE;" id="c{{ comment.id }}">
			    <a href="{{ comment.user_url }}" name="c{{ comment.id }}">{{ comment.user_name }}</a> said:<br/><br/>
			    <div style="float: left; padding-right: 10px;"><img src="{% gravatar comment.user_email 50 %}" /></div>
                {{ comment.comment|escape|markdown|urlize|nofollow }}
                <p>Date: {{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }} | <a href="{{ post.get_absolute_url }}#c{{ comment.id }}">Permalink</a></p>
		    </div>
    {% endfor %}
    <br/><br/>
    {% if post.comments_open %}
        <h3>Add Comment</h3><br/>
        <ul><li>You may use <a href="http://daringfireball.net/projects/markdown/syntax/">Markdown syntax</a> in your comment but <b>raw HTML will be removed</b></li>
    <li>URLs will be converted to links</li>
    {#<li>The captcha will be ignored when previewing a post. It will only be checked when you select to post the comment.</li>#}
    </ul><br/>
        {% render_comment_form for post %}
    {% else %}
        <h2>Comments are currently disabled for this post.</h2><br/>
    {% endif %}
{% endcomment %}
{% endblock %}

