{% extends "blog/base.html" %}

{% block title %}Tag: {{ tag }} | {{ block.super }}{% endblock %}
{% block extra_head %}<link rel="alternate" type="application/rss+xml" title="RSS 2.0 Tag {{ tag }} Feed" href="{% url blog_feeds_view tag_feed %}" />{% endblock %}
{% block heading %}<h1><div align="center">Archives tagged with {{ tag }} </div></h1><br/><br/>{% endblock %}
{% load blog_tags %}
{% block rss_feeds %}{{ block.super }}
                        <li>
					        <a href="{% url blog_feeds_view "latest" %}"><img src="{{ MEDIA_URL }}images/feed-icon-14x14.png" alt="Feed for tag {{ tag }}" title="Feed for tag {{ tag }}"/></a>&nbsp;
                            <a href="{% url blog_feeds_view tag_feed %}">Tagged with {{ tag }}</a>
                        </li>
{% endblock %}

{% block calendar %}
                <li>
					<h2>Calendar</h2>
					<ul>
                        {% month_calendar %}
					</ul>
				</li>
{% endblock %}

