{% extends "base.html" %}

{% block title %}About Me | {{ block.super }}{% endblock %}

{% block search %}{% endblock %}

{% block content %}
            <div class="post">
		        <h1 class="title">About Me</h1>
                <p class="meta"><br/></p>
                <div class="entry">
                    <p>My name is Travis Nickles and I am a student at <a href="http://www.ilstu.edu/">Illinois State University</a>. I am a Computer Science major.</p>
                    <p>My current interests are <a href="http://www.djangoproject.com/">Django</a>, anime, and <a href="http://www.p90x.com/">P90X</a>.</p>
                    <p>I don't know what else to write. I might add more here later.</p>
                </div>
            </div>
{% endblock %}
