{% extends "base.html" %}

{% block title %}Projects | {{ block.super }}{% endblock %}

{% block search %}{% endblock %}

{% block content %}
<div class="post">
    <h1 class="title">Projects</h1>
    <p class="meta"><br/></p>
    <div class="entry">
        <p>This page includes some information about some of the software projects that I have made over the years.</p> 

        <h3>Current Projects</h3> 
        <p>Currently not working on any projects. I need to think of some ideas.</p> 

        <h3>Old Projects</h3> 
        <h4><a href="http://www.ryochan7.com/blog/2010/01/22/youtubed-2x-20100122/">YouTubed-2x</a></h4> 
        <p><b>Developed during:</b> 2008 - 2010<br/> 
            <b>Developed using:</b> Python, PyGTK</p> 
        <p>Utility for downloading flash videos from various services (such as YouTube) and transcoding them to GP2X compatible video files. Supported a maximum of 24 video sites.</p> 
        <p>Screenshot:<br/><img src="http://www.ryochan7.com/files/images/youtubed2x/youtubed2x_windows_2010-01-22.png" width="465" height="344" alt="YouTubed-2x 2010.01.22" /></p> 
        <p>Linux Archive: <a href="http://www.ryochan7.com/files/projects/youtubed2x/youtubed-2x_2010-01-22.tar.gz">2010.01.22</a></p> 
        <p>Windows Archive: <a href="http://www.ryochan7.com/files/projects/youtubed2x/youtubed2x-win_2010-01-22.zip">2010.01.22</a></p> 

        <h4><a href="http://www.ryochan7.com/blog/2009/01/19/pizza-py-party-022/">Pizza Py Party</a></h4> 
        <p><b>Developed during:</b> 2006 - 2010<br/> 
            <b>Developed using:</b> Python</p> 
        <p>Command-line software for ordering pizza from Domino’s.</p> 
        <p>Archive: <a href="http://www.ryochan7.com/files/projects/pizza-py-party-0.2.2.tar.gz">0.2.2</a></p> 
        <p>Google Code: <a href="http://code.google.com/p/pizza-py-party/">http://code.google.com/p/pizza-py-party/</a></p> 

        <h4><a href="http://ryochan7.com/blog/2008/04/04/stepmania-unlock-code-generator-06/">StepMania Unlock Code Generator</a></h4> 
        <p><b>Developed during:</b> 2006 - 2008<br/> 
            <b>Developed using:</b> Python, PyGTK</p> 
        <p>Graphical program for generating unlock codes for the <a href="http://www.stepmania.com/">StepMania</a> dance simulation game. This allows for locking of songs in an arcade style system.
        </p> 
        <p>This program was originally written in Python but a Java version was also made. The Python releases are the only ones to have a supported public release.</p> 
        <p>Screenshot:<br/><img src="http://www.ryochan7.com/files/images/step-unlock-code-gen-2.png" alt="StepMania Unlock Code Generator Screenshot" width="500px" /></p> 
        <p>Archive: <a href="http://www.ryochan7.com/files/projects/stepmania-unlock-code-generator-0.6.tar.gz">http://www.ryochan7.com/files/projects//stepmania-unlock-code-generator-0.6.tar.gz</a></p> 

        <h4>Doom-PSP S.S. (Shoulder Strafe)</h4> 
        <p><b>Developed during:</b> 2005<br/> 
            <b>Developed using:</b> C</p> 
        <p>A port of <a href="http://en.wikipedia.org/wiki/Doom_%28video_game%29">Doom</a> for the <a href="http://us.playstation.com/psp/">PlayStation Portable</a> with many added features compared to the original port. Features include: overclocking, custom button configuration and WAD loader. This version was later adopted by StereoMike.</p> 
    </div>
</div>
{% endblock %}

