{% overextends "blog/blog_post_detail.html" %}
{% load mezzanine_tags i18n %}

{% block extra_footer %}
  {{ block.super }}

<script type="text/javascript">
(function () {
    $("#page-content iframe").attr("width", "100%");
})()
</script>
{% endblock %}

{% block main_wrapper %}
  <div class="block-grey">
      <div class="block-light wrapper">
	  {% block main %}{{ block.super }}{% endblock main %}
      </div>
  </div>
{% endblock %}

{% block extra_head %}
  <link rel="author" href="https://plus.google.com/114992825733416619180" />
{% endblock extra_head %}
