{% load mezzanine_tags %}
    <ul class="slides">
        {% for video in latest_video_list %}
        <li>
            <a href="{{ video.get_absolute_url }}" title="{{ video.title }}">
                {% if video.featured_image %}
                    <img src="{{ MEDIA_URL }}{% thumbnail video.featured_image 768 409 %}" alt="{{ video.title }}" />
                {% else %}
                    <img src="{{ STATIC_URL }}img/default_video_120x90.png" alt="{{ video.title }}" />
                {% endif %}
	    </a>

	    <a href="{{ video.get_absolute_url }}" title="{{ video.title }}">
		<h3><span>{{ video.title }}</span>{{ video.description }}</h3>
            </a>
        </li>
        {% endfor %}
    </ul>

